body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("media4/fondo.png") no-repeat center center fixed; 
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container textarea{
    max-width: 19em;
    min-width: 19em;
    max-height: 8em;
    min-height: 8em;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #eeff00;
}
.logo{
    margin-left: 10px;
}
.logo a{
    color: none;
}
.logo img {
    width:200px ;
    height: 150px;
}
